
<div class="wrapper">
    <h3 style="margin-top: 0;">Add Document</h3>
    <form action="" method="POST">
        <div class="flex">
            <div>
                <input type="text" name="subject" placeholder="Subject">
            </div>
            <div>
                <input type="text" name="status" placeholder="Status">
            </div>
            <div>
                <!-- <input type="text" name="description" placeholder="Description"> -->
                <textarea name="description" placeholder="Description" class="description"></textarea>
            </div>
            <div>
                <h4>Select a Category</h4>
                <select name="category" class="form-control">
                    <% categories.forEach(category => { %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                    <% }) %>
                </select>
            </div>
            <div>
                <h4>Select an Application</h4>
                <select name="application" class="form-control">
                    <% applications.forEach(application => { %>
                    <option value="<%= application.id %>"><%= application.name %></option>
                    <% }) %>
                </select>
            </div>
            <div>
                <h4>Select a Type</h4>
                <% types.forEach(type => { %>
                <label for="" class="radio">
                    <input type="radio" class="radio__input" name="type" value="<%= type.id %>">
                    <label for=""><%= type.name %></label>
                </label>
                <% }) %>
            <div>
                <button type="submit" class="submit__button">Submit</button>
            </div>
            
        </div>
    </form>
    
</div>