
<div class="wrapper">
    <h3 style="margin-top: 0;">Update Document</h3>
    <form action="" method="POST">
        <div class="flex">
            <div>
                <input type="text" name="subject" placeholder="Subject" value="<%= document.subject %>">
            </div>
            <div>
                <input type="text" name="status" placeholder="Status" value="<%= document.status %>">
            </div>
            <div>
                <input type="text" name="description" placeholder="Description" value="<%= document.description %>">
            </div> 

            <div>
                <h4>Select a Category</h4>
                <% categories.forEach(category => { %>
                    <% document.Categories.forEach(docCategory => { %>
                    <input type="checkbox" class="categoryCheckbox radio__input" name="categories" value="<%= category.id %>" <% if(category.name == docCategory.name){ %> checked="checked" <% } %>>
                    <label for="<%= category.name %>"><%= category.name %></label>
                    <% }) %>
                <% }) %>
            </div>
            <div>
                <h4>Select an Application</h4>
                <select name="application" class="form-control">
                    <% applications.forEach(application => { %>
                    <option value="<%= application.id %>"><%= application.name %></option>
                    <% }) %>
                </select>
            </div>
            <div>
                <h4>Select a Type</h4>
                <% types.forEach(type => { %>
                <label for="" class="radio">
                    <input type="radio" class="radio__input" name="type" value='<%= type.id %>' <% if(type.name == document.Type.name){ %> checked="checked" <% } %>>
                    <label for=""><%= type.name   %></label>
                </label>
                <% }) %>
            </div>
            
            <div>
                <button type="submit" class="submit__button">Submit</button>
            </div>
        </div>
    </form>
    
</div>
<script>
    function ddlselect(){
        var d = document.getElementById("myRadio");
        d = document.getElementById("myRadio").checked

        console.log(d)
    
    }
</script>